.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F5F3ED; /* Fundo branco */
}

.login-box {
  width: 300px;
  padding: 30px;
  background-color: #C08900;  
  border-radius: 10px;
}

h2 {
  color: white; /* Texto branco */
}

input[type="email"],
input[type="password"],
button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
}

button {
  background-color: #f4f4f4; /* Cor verde */
  color: rgb(16, 15, 15);
  cursor: pointer;
}

button:hover {
  background-color: #fbfbfb; /* Cor verde escura */
}

.forgot-password {
  text-align: left; /* Alinha o link à esquerda */
  margin-bottom: 10px; /* Adiciona um espaçamento abaixo do link */
}

.forgot-password-link {
  color: black; /* Torna o texto preto */
  text-decoration: none; /* Remove o sublinhado padrão */
}

.forgot-password-link:hover {
  text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}


